.top-but-no-margin
{
    margin: 10px 0px 0px 0px;
}
ion-input
{
    width: 35px !important;
    text-align: center;
    padding-top: 10px !important;
    
}

.top-but-no-margin ion-button
{
    width: 30px !important;
    padding: 0px !important;
}

ion-note
{
    min-width: 10% !important;
    font-size: 15px;
    padding-left: 0px !important;
    padding-top: 10px !important;
    margin-left: 5px !important;
}